

@{
    ViewBag.Title = "Store Clerk Dashboard";
}
@{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}


<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>


<h2>Storeclerkdash</h2>

<table>
    <tr>
        <td>@Html.ActionLink("Requisition", "SCRequisitionView", "RequisitionApprovals")</td>
        <td>@Html.ActionLink("Disbursement","DisplayDisbursement","Disbursements",new { RequisitionDetailsString ="All", DeptString ="All"},null)</td>
        <td>@Html.ActionLink("Catalogue", "Index", "Products")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Purchase Order", "PlaceOrder", "PurchaseOrder")</td>
        <td>@Html.ActionLink("Adjustment Voucher", "Create", "StockAdjustmentVouchers")</td>
        <td>@Html.ActionLink("Stock Cards", "Index", "stockcards")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Requisitions History", "ViewAllRequisition", "RequisitionApprovals")</td>
        <td>@Html.ActionLink("Supplier List", "Index", "Suppliers")</td>
        <td>@Html.ActionLink("View Tender", "Tender")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Charge Department", "ChargeBackDepartment", "ChargeBackDepartment")</td>
        <td>@Html.ActionLink("View Department", "Department")</td>
        <td></td>
    </tr>
</table>
@*
    <table>
            <tr><td><button class="btn-primary" onclick="window.location.href = '/StockAdjustmentVouchers/Create';">Raise Stock Adjustment Voucher</button></td></tr>
        <tr><td><button class="btn-primary" onclick="window.location.href = '/Suppliers/Index';">View Suppliers</button></td></tr>
        <tr><td><button class="btn-primary" onclick="window.location.href = '/stockcards/Index';">View StockCards</button></td></tr>
        <tr><td><button class="btn-primary" onclick="window.location.href = '/PurchaseOrder/Index';">Create Purchase Order</button></td></tr>
    </table>
*@