@{
    ViewBag.Title = "Store Clerk Dashboard";
}
@{
    string sessionId = (string)ViewData["sessionId"];
}
@{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}


<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>


<h2>Storeclerkdash</h2>

<table>
    <tr>
        <td>@Html.ActionLink("Requisition", "SCRequisitionView", "RequisitionApprovals",new { sessionId = sessionId },null)</td>
        <td>@Html.ActionLink("Disbursement", "DisplayDisbursement", "Disbursements", new { RequisitionDetailsString = "All", DeptString = "All" ,sessionId=sessionId}, null)</td>
        <td>@Html.ActionLink("Catalogue", "Index", "Products",new { sessionId = sessionId },null)</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Purchase Order", "PlaceOrder", "PurchaseOrder", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Adjustment Voucher", "Create", "StockAdjustmentVouchers", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Stock Cards", "Index", "stockcards", new { sessionId = sessionId }, null)</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Requisitions History", "ViewAllRequisition", "RequisitionApprovals", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Supplier List", "Index", "Suppliers", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("View Tender", "Tender")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Charge Department", "ChargeBackDepartment", "ChargeBackDepartment", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("View Department", "Department")</td>
        <td></td>
    </tr>
</table>
@*
    <table>
            <tr><td><button class="btn-primary" onclick="window.location.href = '/StockAdjustmentVouchers/Create';">Raise Stock Adjustment Voucher</button></td></tr>
        <tr><td><button class="btn-primary" onclick="window.location.href = '/Suppliers/Index';">View Suppliers</button></td></tr>
        <tr><td><button class="btn-primary" onclick="window.location.href = '/stockcards/Index';">View StockCards</button></td></tr>
        <tr><td><button class="btn-primary" onclick="window.location.href = '/PurchaseOrder/Index';">Create Purchase Order</button></td></tr>
    </table>
*@