@{
    ViewBag.Title = "Store Clerk Dashboard";
}
@{
    string sessionId = (string)ViewData["sessionId"];
}
@{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}


<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>


<h2>Store Clerk Dashboard</h2>
<a href="@Url.Action("SCRequisitionView","RequisitionApprovals",new { sessionId = sessionId  }, null)" class="button">Requistion</a>
<a href="@Url.Action("DisplayDisbursement","Disbursements",new { RequisitionDetailsString = "All", DeptString = "All" ,sessionId=sessionId}, null)" class="button">Disbursement</a>
<a href="@Url.Action("PlaceOrder","PurchaseOrder",new { sessionId = sessionId  }, null)" class="button">Purchase Order</a>
<a href="@Url.Action("Create","StockAdjustmentVouchers",new { sessionId = sessionId  }, null)" class="button">Adjustment Voucher</a>
<a href="@Url.Action("Index","stockcards",new { sessionId = sessionId })" class="button">Stock Cards</a>
<a href="@Url.Action("Index","Suppliers",new { sessionId = sessionId  }, null)" class="button">Supplier List</a>
@*<a href="@Url.Action("Index","Tender",new { sessionId = sessionId  }, null)" class="button">View Tender</a>*@
<a href="@Url.Action("ChargeBackDepartment","ChargeBackDepartment",new { sessionId = sessionId  }, null)" class="button">Charge Department</a>
<a href="@Url.Action("Index","Departments",new { role ="StoreClerk",sessionId = sessionId  }, null)" class="button">View Department</a>



<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
    }

    .button {
        background-color: #0000ff; /* Green */
        border: none;
        color: white;
        width: 300px ;
        height: 100px;
        padding: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 20px;
        cursor: pointer;
        border-radius: 2px;
        position: relative;
    }
</style>