

@{
    ViewBag.Title = "Store Clerk Dashboard";
}

@{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}


<h2>Store Clerk Dashboard</h2>

<a href="@Url.Action("SCRequisitionView", "RequisitionApprovals")" class="button">Manage Requisitions</a>
<a href="@Url.Action("ManageDelegation","Delegations")" class="button">Requisition History </a>

<a href="@Url.Action("Index","Disbursements")" class="button">Manage Disbursement </a>
<a href="@Url.Action("Index","PurchaseOrder")" class="button">Product Order</a>
<a href="@Url.Action("Create","StockAdjustmentVouchers")" class="button">Adjustment Voucher </a>

<a href="@Url.Action("Index","Suppliers")" class="button">Supplier List </a>
<a href="@Url.Action("Index","Tender")" class="button">Tender List </a>
<a href="@Url.Action("ShowChargeBackDepartment","ChargeBackDepartment")" class="button">Charge Department </a>

<a href="@Url.Action("Index","Department")" class="button">Department List </a>


<a href="@Url.Action("Index","Trend")" class="button">Trend Analysis </a>




<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
    }

    .button {
        background-color: #0000ff; /* Green */
        border: none;
        color: white;
        padding: 80px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 20px 20px;
        cursor: pointer;
        width: 20%;
        border-radius: 2px;
     
    }
</style>