
@{
    ViewBag.Title = "Store Manager Dashboard";
}
@{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}


    <head>
        <link rel="stylesheet" type="text/css" href="~/css/newst.css">

    </head>


<h2>Store Manager Dashboard</h2>
<table class="container">
    <tr>
        <td>@Html.ActionLink("Requisition", "SCRequisitionView", "RequisitionApprovals")</td>
        <td>@Html.ActionLink("Disbursements", "Disbursement")</td>
        <td>@Html.ActionLink("Catalogue", "Index", "Products")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Purchase Order", "PurchaseOrder")</td>
        <td>@Html.ActionLink("Adjustment Voucher", "AdjustmentVoucher")</td>
        <td><button class="btn" onclick="window.location.href = '/StockAdjustmentVoucherDetails/ApproverView?Role=Supervisor';">Pending Approval/Rejection (Supervisor)</button></td>

    </tr>
    <tr>
        <td>@Html.ActionLink("Requisitions History", "RequisitionHistory")</td>
        <td>@Html.ActionLink("Supplier List", "Supplier")</td>
        <td>@Html.ActionLink("View Tender", "Tender")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Charge Department", "ChargeBackDepartment", "ChargeBackDepartment")</td>
        <td>@Html.ActionLink("View Department", "Department")</td>
        <td>@Html.ActionLink("Manage Collection Point", "ViewCollectionPoint", "CollectionPoint")</td>
        <td></td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View Suppliers", "Index", "Suppliers")
        </td>
        <td>
            @Html.ActionLink("View StockCards", "Index", "Stockcards")
        </td>
       
      <td><button class="btn"  onclick="window.location.href = '/StockAdjustmentVoucherDetails/ApproverView?Role=Manager';">Pending Approval/Rejection (Manager)</button></td></tr>
    
</table>
