
@{
    ViewBag.Title = "Store Manager Dashboard";
}
@{ 
    string sessionId = (string)ViewData["sessionId"];
}
@{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}


<h2>Store Manager Dashboard</h2>

<a href="@Url.Action("PlaceOrder","PurchaseOrder",new { sessionId = sessionId  }, null)" class="button">Purchase Order</a>
<a href="@Url.Action("ApproverView","StockAdjustmentVoucherDetails",new { sessionId = sessionId,role="Manager"  }, null)" class="button">Pending Approval</a>
<a href="@Url.Action("ViewCollectionPoint","CollectionPoint",new { sessionId = sessionId  }, null)" class="button">Manage Collection Point</a>
<a href="@Url.Action("Index","Suppliers",new { sessionId = sessionId  }, null)" class="button">Supplier List</a>
<a href="@Url.Action("Index","Tender",new { sessionId = sessionId  }, null)" class="button">View Tender</a>
<a href="@Url.Action("ViewAllRequisition","RequisitionApprovals",new { sessionId = sessionId  }, null)" class="button">Requisitions History</a>
<a href="@Url.Action("Index","Department",new { sessionId = sessionId  }, null)" class="button">View Department</a>
<a href="@Url.Action("ChargeBackDepartment","ChargeBackDepartment",new { sessionId = sessionId  }, null)" class="button">Charge Department</a>
<a href="@Url.Action("Index","Trend",new { sessionId = sessionId  }, null)" class="button">Reorder Report</a>
<a href="@Url.Action("InventoryStatusTrend","Trend",new { sessionId = sessionId  }, null)" class="button">Inventory Status Report</a>



<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
    }

    .button {
        background-color: #0000ff; /* Green */
        border: none;
        color: white;
        width: 300px;
        height: 100px;
        padding: 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 20px;
        cursor: pointer;
        border-radius: 2px;
        position: relative;
    }
</style>