
@{
    ViewBag.Title = "Store Manager Dashboard";
}
@{ 
    string sessionId = (string)ViewData["sessionId"];
}
@{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}


    <head>
        <link rel="stylesheet" type="text/css" href="~/css/newst.css">

    </head>


<h2>Store Manager Dashboard</h2>
<table class="container">

    <tr>
        <td>@Html.ActionLink("Purchase Order", "PlaceOrder", "PurchaseOrder", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Catalogue", "Index", "Products",new {sessionId = sessionId, Role="StoreManager"},null)</td>
        @*<td><button class="btn" onclick="window.location.href = '/StockAdjustmentVoucherDetails/ApproverView?Role=Manager';">Pending Approval/Rejection</button></td>*@
        <td>@Html.ActionLink("Pending Approval","ApproverView", "StockAdjustmentVoucherDetails",new { Role = "Manager",sessionId=sessionId},null)</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Manage Collection Point", "ViewCollectionPoint", "CollectionPoint", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Supplier List", "Index", "Suppliers", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("View Tender", "Tender", new { sessionId = sessionId }, null)</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Requisitions History", "ViewAllRequisition", "RequisitionApprovals", new { sessionId = sessionId,Role = "StoreManager"}, null)</td>
        <td>@Html.ActionLink("View Department", "Department", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Charge Department", "ChargeBackDepartment", "ChargeBackDepartment", new { sessionId = sessionId }, null)</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Trend Analysis", "Index", "Trend", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Reorder Report", "Department","", new { sessionId = sessionId }, null)</td>
        <td>@Html.ActionLink("Inventory Status Report", "ChargeBackDepartment", "ChargeBackDepartment", new { sessionId = sessionId }, null)</td>
        <td></td>
    </tr>

</table>
