@model IEnumerable<LogicUniversity.Models.RequisitionDetails>


@{
    ViewBag.Title = "Details";
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["role"];
}

@if (Role == "DEP_MNGR")
{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}
else if (Role == "DEP_STAFF")
{
    Layout = "~/Views/Shared/_Layout_DS.cshtml";
}


<form>
    <div>
        <br />
        <h4 class="text-center text-uppercase">Requistion Details</h4>
        @Html.ActionLink("Back to List", "ViewRequisition", new { sessionId = @sessionId })
      
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.RequisitionId)</th>
                <th>@Html.DisplayNameFor(model => model.Products.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td value="id"> @item.RequisitionId</td>
                    <td>@item.Products.Description</td>
                    <td> @item.Quantity</td>
                </tr>

            }


        </table>
    </div>
<textarea rows="4" cols="100" value="Remarks" class="form-control"></textarea>
    <br />   <br /> <br />
    <input type="hidden" value=@sessionId name="sessionId" />
    <input type="submit" value="APPROVED" name="status" id="accept" class="btn btn-primary" />

    <input type="submit" value="REJECTED" name="status" id="reject" class="btn btn-primary" />

</form>

@*<script>
        function myFunction() {
            document.getElementById("accept").disabled = true;
            document.getElementById("reject").disabled = true;
        }
    </script>*@