@using LogicUniversity.Models
@using MvcBootstrapTimepicker;

@{
    var reqList = (List<Requisition>)ViewData["reqList"];
    var count = (int)ViewData["count"];
    var CPList = (List<CollectionPoint>)ViewData["CPList"];
    var StatusList = (List<string>)ViewData["StatusList"];
    string sessionId = (string)ViewData["sessionId"];
}

@{
    ViewBag.Title = "Viewallrequisitions";
}
@{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}

<head>
    @*<style>
            table, th, td {
                border: 1px solid black;
                text-align: center;
            }
        </style>*@
</head>

<h2>View Requisitions</h2>

@using (Html.BeginForm())
{
    int j = 0;
    <table class="table">
        <tr>
            <td>From date: </td>
            <td><input type="text" id="fromdate" name="fromdate" class="form-control"></td>
            <td>Collection Point: </td>
            <td>
                <select name="SelectedCP" class="mdb-select md-form">
                    @foreach (CollectionPoint cp in CPList)
                    {
                        <option Id="CollectionPoint[@j]" name="CollectionPoint[@j]" value="@cp.CollectionPointId" typeof="text">
                            @cp.LocationName
                        </option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>To date: </td>
            <td>
                <input type="text" id="todate" name="todate" class="form-control">
            </td>
            <td>Status: </td>
            <td>
                <select name="status" cclass="mdb-select md-form">
                    @foreach (string Status in StatusList)
                    {
                        <option Id="Status[@j]" name="Status[@j]" value="@Status" typeof="text">
                            @Status
                        </option>
                    }
                </select>
            </td>
        </tr>



    </table>
    <br />

    <input type="submit" value="Search" name="search" id="search" class="btn btn-primary" />

    <input type="hidden" value=@count name="count" id="count" />
    <br />
    <br />

    <table class="table">

        <tr>
            <th></th>

            <th>Department </th>
            <th>Status </th>
            <th>Date </th>
        </tr>
        @{
            //To make unique Id
            int i = 0;
            foreach (var item in reqList)
            {

        <tr>
            <td>
                <input type="checkbox" name="Requisition[@i].toretrieve" id="Requisition[@i].toretrieve" value=@Html.DisplayFor(model => item.Department) />
            </td>

            <td>@Html.DisplayFor(model => item.Department)</td>
            <td>@Html.DisplayFor(model => item.Status)</td>
            <td>@Html.DisplayFor(model => item.Date)</td>
        </tr>
                i++;
            }
        }

    </table>
    if (Model!=null)
    {
        <input type="submit" value="Retrieve" name="retrieve" id="retrieve" class="btn btn-primary" />
    }
            }