@model IEnumerable<LogicUniversity.Models.RequisitionDetails>


@{
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["role"];
}
@if (Role == "DEP_MNGR")
{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}
else if (Role == "DEP_STAFF")
{
    Layout = "~/Views/Shared/_Layout_DS.cshtml";
}


<br />
      <h4 class="text-center text-uppercase">Requistion Details</h4>
<br />
<form>
    <div>
       
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.RequisitionId)</th>
                <th>@Html.DisplayNameFor(model => model.Products.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td value="id"> @item.RequisitionId</td>
                    <td>@item.Products.Description</td>
                    <td> @item.Quantity</td>
                </tr>

            }


        </table>
    </div>

    <p>

        @Html.ActionLink("Back to List", "TrackRequisition", new { sessionId = sessionId })
    </p>
</form>
