@model IEnumerable<LogicUniversity.Models.RequisitionDetails>


@{
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["role"];
}
@if (Role == "DEP_MNGR")
{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}
else if (Role == "DEP_STAFF")
{
    Layout = "~/Views/Shared/_Layout_DS.cshtml";
}

<br />
<br />
<h3>Requistion Details</h3>
<form>
    <div>
        <hr />
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(model => model.RequisitionId)</td>
                <td>@Html.DisplayNameFor(model => model.Products.Description)</td>
                <td>@Html.DisplayNameFor(model => model.Quantity)</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td value="id"> @item.RequisitionId</td>
                    <td>@item.Products.Description</td>
                    <td> @item.Quantity</td>
                </tr>

            }


        </table>
    </div>

    <p>

        @Html.ActionLink("Back to List", "TrackRequisition", new { sessionId = sessionId })
    </p>
</form>
