@model IEnumerable<LogicUniversity.Models.Requisition>

@{

    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["Role"];
}
@{
    if (Role == "DEP_MNGR")
    {
        Layout = "~/Views/Shared/_Layout_DH.cshtml";
    }
    else if (Role == "DEP_STAFF")
    {
        Layout = "~/Views/Shared/_Layout_DS.cshtml";
    }
}
@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.Title = "Index";
}


<br /><br />
<h4 class="text-center text-uppercase">track requisition</h4>
<br /><br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequisitionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.RequisitionId, sessionId = @sessionId })
                </td>
            </tr>
        }
    }
</table>
