@model IEnumerable<LogicUniversity.Models.Products>

@{
    ViewBag.Title = "Index";
}
@{ 
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["Role"];
}
@if (Role == "HOD")
{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}
else if(Role == "Staff")
{
    Layout = "~/Views/Shared/_Layout_DS.cshtml";
}
else if(Role == "StoreManager")
{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}
<style>
    #tabledropdown {
        max-height: 470px;
        overflow: auto;
        overflow-y: scroll;
    }
</style>
<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create",new { sessionId = sessionId })*@
</p>
<div id="tabledropdown">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UOM)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UOM)
                </td>
               
            </tr>
        }

    </table>
</div>