@model LogicUniversity.Models.Delegation

@{
    ViewBag.Title = "CancelDelegation";
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["Role"];
}
@{
    if (Role == "DEP_MNGR")
    {
        Layout = "~/Views/Shared/_Layout_DH.cshtml";
    }
    else if (Role == "DEP_STAFF")
    {
        Layout = "~/Views/Shared/_Layout_DS.cshtml";
    }
}

<h2>CancelDelegation</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <input type="hidden" value=@sessionId name="sessionId" />|
            @Html.ActionLink("Back to List", "ViewDelegation", new { sessionId = sessionId })
        </div>
    }
</div>
