@model LogicUniversity.Models.Delegation

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}
<br />
<br />
<div>
    <h4 style="text-align:center">Delegation Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDelegation", new { id = Model.DelegationId }) |
    @Html.ActionLink("Back to List", "ViewDelegation")
</p>



