@model LogicUniversity.Models.Delegation

@{
    ViewBag.Title = "Details";
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["Role"];
}
@{
    if (Role == "DEP_MNGR")
    {
        Layout = "~/Views/Shared/_Layout_DH.cshtml";
    }
    else if (Role == "DEP_STAFF")
    {
        Layout = "~/Views/Shared/_Layout_DS.cshtml";
    }
}


<br />
<br />
<div>
    <br /><br />
    <h4 class="text-center text-uppercase">delegation details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDelegation", new { id = Model.DelegationId, sessionId = @sessionId }) |
    @Html.ActionLink("Back to List", "ViewDelegation", new { sessionId = @sessionId })
</p>



