@using PagedList.Mvc
@using PagedList
@model IPagedList<LogicUniversity.Models.Delegation>

@{
    ViewBag.Title = "Index";
    string msg = (string)ViewData["msg"];
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["Role"];
}
@{
    if (Role == "DEP_MNGR")
    {
        Layout = "~/Views/Shared/_Layout_DH.cshtml";
    }
    else if (Role == "DEP_STAFF")
    {
        Layout = "~/Views/Shared/_Layout_DS.cshtml";
    }
}

@if (ViewBag.Message != null)
{
    @section scripts{
        <script src="~/Scripts/toastr.js"></script>
        <script>
        $(document).ready(function () {


                toastr.info('@ViewBag.Message')


        });
        </script>
    }

}

<br />
<h4 style="text-align:center">View Delegation</h4>
<style>
    /*.pagination {
        display: inline-block;
    }*/

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
</style>
<p>
    @Html.ActionLink("Create New", "AppointDelegation", new { sessionId = @sessionId })
</p>
<script>
    function back()
    {
         window.location.href = '@Url.Action("ManageDelegation", "Delegations", new { sessionId = @sessionId })'
    }
</script>
@{ if (msg != null)
    {
        @msg
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (!(item.EndDate < DateTime.Today))
                {
                    @Html.ActionLink("Edit |", "EditDelegation", new { id = item.DelegationId, sessionId = @sessionId })
                    @Html.ActionLink("Details |", "GetDelegationDetails", new { id = item.DelegationId, sessionId = @sessionId })
                    @Html.ActionLink("Delete", "CancelDelegation", new { id = item.DelegationId, sessionId = @sessionId })
                }
            </td>
        </tr>
    }

</table>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("ViewDelegation", new { page, sessionId = @sessionId }))
</div>
<input type="submit" value="Back" onclick="back()" class="btn btn-primary" />
