@model IEnumerable<LogicUniversity.Models.StockAdjustmentVoucher>

@{
    ViewBag.Title = "Index";
}
@{ 
    string sessionId = (string)ViewData["sessionId"];
}
@{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}
<h2>Viewx</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { sessionId = sessionId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                <text value="ViewOnly" id="ViewOnly" onclick="window.location.href = '/StockAdjustmentVoucherDetails/FilterView?voucherId=@item.Id&sessionId=@sessionId';"> @Html.DisplayFor(modelItem => item.Id) </text>

            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @*
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink(
                    linkText: "Details",
                    actionName: "FilterView",
                    controllerName: "StockAdjustmentVoucherDetails",
                    routeValues: new { voucherId = @item.Id},
                    htmlAttributes: null
                    )
                    </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            *@
        </tr>
    }

</table>
