@model IEnumerable<LogicUniversity.Models.Retrieval>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreClerk.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRetrieved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreClerk.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRetrieved)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RetrievalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RetrievalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RetrievalId })
        </td>
    </tr>
}

</table>
