@{
    string sessionId = (string)ViewData["sessionId"];
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="topnav">
            <label>
                <button class="btn" onclick="window.location.href = '/Login/DRDashboard?sessionId=@sessionId';">Go to Dashboard</button>
                <button class="btn" onclick="window.location.href = '/Products/Index';">Go to Product Catalogue</button>


            </label> <label style="float: right;">
                <button class="btn" onclick="window.location.href = '/Login/Logout?sessionId=@sessionId';">Log out</button>

            </label>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
