@model LogicUniversity.Models.CollectionPoint
@{
    string sessionId = (string)ViewData["sessionId"];
    string role = (string)ViewData["role"];
}
@if (role == "STORE_CLRK")
{
    Layout = "~/Views/Shared/_Layout_SC.cshtml";
}
else if (role == "STORE_MNGR")
{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}
else if (role == "STORE_SUP")
{
    Layout = "~/Views/Shared/_Layout_SS.cshtml";
}

<br /><br />
<h3>Collection Point Details</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Store Clerk In Charge
        </dt>

        <dd>
            @Html.DisplayFor(model =>model.Employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCollectionPointDetails", new { id = Model.CollectionPointId, sessionId = sessionId }) |
    @Html.ActionLink("Back to List", "ViewCollectionPoint", new { sessionId = sessionId })
</p>
