@model IEnumerable<LogicUniversity.Models.CollectionPoint>

@{
    ViewBag.Title = "ViewCollectionPoint";
}
@{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}

<h2>ViewCollectionPoint</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewCollectionPoint")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>

        <th>
            @Html.Label("Assigned Store Clerk")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCollectionPointDetails", new { id = item.CollectionPointId }) |
                @Html.ActionLink("Details", "GetCollectionPointDetails", new { id = item.CollectionPointId }) |
                @Html.ActionLink("Delete", "DeleteCollectionPoint", new { id = item.CollectionPointId })
            </td>
        </tr>
    }

</table>
